* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: $fontSize;
	background-color: grey;

	.container {
		background-color: $colorBlack;

		header {
			@include max-wid1200;
			height: $headerHeight;

			nav.nav-top {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: $navHeightTop;
				margin-right: $marginHorMd;

				ul {
					@include nav-ul;

					li:not(:last-child) {
						margin: 0 $marginHorSm;

						a {
							color: $colorGrey;
						}
					}
				}
			}

			nav.nav-bottom {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				height: $navHeightBottom;
				color: $colorWhite;
				line-height: $fontSizeH2;
				margin-left: $marginHorMd;

				ul {
					@include nav-ul;

					li {
						position: relative;

						a.logo {
							color: $colorWhite;

							h2 {
								margin-right: $marginHorMd;
							}

						}

						a.drop-btn {
							color: $colorWhite;
							padding-left: 5px;

							&:after {
								font-family: "Font Awesome 5 Free";
								font-weight: 900;
								content: "\f078";
							}

							&:hover {
								background-color: $colorWhite;
								color: $colorBlack;

								&:after {
									content: '';
								}
							}

							&:hover+.drop-menu {
								display: block;
							}

						}

						.drop-menu {
							@include nav-ul;
							display: none;
							position: absolute;
							left: 0;
							top: 46px;
							flex-direction: column;
							background-color: $colorWhite;

							a {
								@extend .drop-btn;
								color: $colorBlack;

								&:hover {
									background-color: $colorGrey;
									color: $colorWhite;
									display: block;
								}

								&:after {
									content: '';
								}
							}

							a.drop-menu-btn:hover {
								&::after {
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "\f054";
								}
							}
						}

						.drop-menu:hover {
							display: block;
						}
					}
				}
			}
		}
	}

	.container-white {
		background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
		background-size: cover;
		background-position: right center;



		.jumbotron {
			@include max-wid1200;
			height: $jumbotronHeigth;
			display: flex;


			.jumbo-empty {
				flex: 0 0 20%;
			}

			.jumbo-title {
				flex: 0 0 45%;
				height: 100%;
				color: $colorWhite;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				h3 {

					flex: 0 0 33%;

					ul {
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;

						li {
							list-style-type: none;
						}
					}

				}

				button {
					align-self: flex-start;

					background-color: $colorGrey;
					color: $colorWhite;


					&:hover {
						background-color: darken($colorGrey, 10%);
					}
				}

			}

			.jumbo-download {
				flex: 0 0 35%;
				border: 1px solid black;
				background-color: rgba(0, 0, 0, 0.452);
				padding: 20px 10px;

				p {
					margin: 20px 0;
					color: $colorGrey;
					text-transform: uppercase;
				}

				button {
					background-color: $colorBlue;
					color: $colorWhite;

					&:hover {
						background-color: darken($colorBlue, 10%);
					}
				}
			}


		}


	}
}