* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: $fontSize;
	background-color: grey;

	.container {
		background-color: $colorBlack;

		header {
			@include max-wid1000;
			height: $headerHeight;

			nav.nav-top {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				height: $navHeightTop;
				margin-right: $marginHorMd;

				ul {
					@include nav-ul;

					li:not(:last-child) {
						margin: 0 $marginHorSm;

						a {
							color: $colorGrey;
						}
					}
				}
			}

			nav.nav-bottom {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				height: $navHeightBottom;
				color: $colorWhite;
				line-height: $fontSizeH2;
				margin-left: $marginHorMd;

				ul {
					@include nav-ul;

					li {
						position: relative;

						a.logo {
							color: $colorWhite;
						}

						a.drop-btn {
							color: $colorWhite;
							padding-left: 5px;

							&:after {
								font-family: "Font Awesome 5 Free";
								font-weight: 900;
								content: "\f078";
							}

							&:hover {
								background-color: $colorWhite;
								color: $colorBlack;
							}

							&:hover+.drop-menu {
								display: block;
							}

						}

						.drop-menu {
							@include nav-ul;
							display: none;
							position: absolute;
							left: 0;
							top: 1px;
							flex-direction: column;
							background-color: $colorWhite;

							a {
								@extend .drop-btn;
								color: $colorBlack;

								&:hover {
									background-color: $colorGrey;
									color: $colorWhite;
									display: block;
								}

								&:after {
									content: '';
								}
							}
						}

						.drop-menu:hover {
							display: block;

						}
					}
				}
			}
		}
	}

	.container-white {
		background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
		background-size: cover;
		background-position: left;

		.jumbotron {
			height: $jumbotronHeigth;
		}


	}
}