.container-footer-top {
	background-color: $color-light-grey;

	footer.footer-top {
		@include max-wid1200;

		padding: $padding-med;
		@include flex-ul(row, space-between, flex-start);
		flex-wrap: wrap;

		ul {
			@include flex-ul(column, flex-start, flex-start);
			padding: $padding-min;
			flex: 1 0 25%;

			a {
				color: $color-grey;
			}
		}
	}
}

.container-footer-bottom {
	background-color: $color-black;

	footer.footer-bottom {
		@include max-wid1200;
		height: 100px;



	}
}