.container-img {
	background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
	background-size: cover;
	background-position: right center;

	.jumbotron {
		@include max-wid1200;
		height: $jumbotron-heigth;
		display: flex;

		.jumbo-empty {
			flex: 0 0 20%;
		}

		.jumbo-title {
			flex: 0 0 45%;
			height: 100%;
			color: $color-white;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			h4 {

				flex: 0 0 33%;

				ul {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;

					li {
						list-style-type: none;
					}
				}

			}

			button {
				align-self: flex-start;

				background-color: $color-grey;
				color: $color-white;


				&:hover {
					background-color: darken($color-grey, 10%);
				}
			}

		}

		.jumbo-download {
			flex: 0 0 35%;

			background-color: $color-black-transparent;
			padding: 20px 10px;

			p {
				margin: 20px 0;
				color: $color-grey;
				text-transform: uppercase;
			}

			button {
				background-color: $color-blue;
				color: $color-white;

				&:hover {
					background-color: darken($color-blue, 10%);
				}
			}
		}
	}
}