.container-main {
	background-color: $color-white;

	main {
		@include max-wid1200;
		padding: 30px;
		/* height: 800px; */
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
		grid-auto-rows: 1fr;


		div {

			img {
				width: 100%;
				height: 100%;
				border: 1px solid $shadow-img;
				border-radius: 10px;

			}
		}
	}
}