// snippets 

// max width inside full width container
@mixin max-wid1200 {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
}

// horiz list inside nav
@mixin nav-ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

@mixin nav-ul2 ($direction, $justify, $align) {
	list-style-type: none;
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}