h1 {
	font-size: $fontSizeH1;
}

h2 {
	font-size: $fontSizeH2;
}

h3 {
	font-size: $fontSizeH3;
}

p {
	font-size: $fontSize;
}

.logo {
	font-size: $FONT_SIZE_LOGO;
}

a {
	font-size: $fontSize * 0.9;
	text-decoration: none;
}

a.drop-btn {
	font-size: $fontSize * 1.2;
	display: inline-block;
	width: 120px;
	height: 45px;
	line-height: 45px;

	&::after {
		font-size: $fontSize * 0.8;
		margin-left: 5px;
	}
}




// buttons

button {
	padding: 10px 30px;
	outline: none;
	border: none;
	cursor: pointer;

}