// color

$colorBlack : #111;
$colorGrey: #7d8581;
$colorWhite: #f0ffff;

// font-size
$fontSize: 18px;
$fontSizeH1: $fontSize * 3;
$fontSizeH2: $fontSize * 2.2;
$fontSizeH3: $fontSize * 1.8;

// margin
$marginHorSm : 10px;
$marginHorMd : 20px;

// height
$headerHeight: 80px;
$navHeightTop: $headerHeight * 0.4;
$navHeightBottom: $headerHeight - $navHeightTop;

$jumbotronHeigth: 400px;