$color-black : #111;
$color-grey: #7d8581;
$font-size: 18px;
$font-sizeH1: $font-size * 3;
$font-sizeH2: $font-size * 2;
$font-sizeH3: $font-size * 1.5;
$margin-hor-sm : 10px;
$margin-hor-md : 20px;