// color

$colorBlack : #111;
$colorGrey:#666666;
$colorWhite: #f0ffff;
$colorBlue: #009cff;

// font-size
$fontSize: 18px;
$FONT_SIZE_LOGO: 18px * 2.2;
$fontSizeH1: $fontSize * 2.2;
$fontSizeH2: $fontSize * 1.8;
$fontSizeH3: $fontSize * 1.4;

// margin
$marginHorSm : 10px;
$marginHorMd : 20px;

// height
$headerHeight: 80px;
$navHeightTop: $headerHeight * 0.4;
$navHeightBottom: $headerHeight - $navHeightTop;

$jumbotronHeigth: 400px;